<html>
<head>
<style type="text/css">
<!--
body { font-family: Arial; font-size: 20.4px }
.pos { position: absolute; z-index: 0; left: 0px; top: 0px }
span {font-weight:bold; font-family:Arial}
li {padding: 10px 0px}
-->
</style>
</head>
<body>
<nobr><nowrap>

<%
var d = new Date();
%>

<div style='text-align: center;'>Предоперационный эпикриз</div>
<div>
  <div>№ ИБ <%= this.DeferRender('prescript/IB?id=' + this.id) %></div>
  <div style='float: right;'> <%= d.getDay() %>.<%= d.getMonth() %>.<%= d.getFullYear() %>г.</div>
</div>
<br>
<div>
  <div>Клинический диагноз</div>
  <ul style="list-style-type: none;">
    <li>
      основное заболевание:<br> <%= this.DeferRender('prescript/GetState?id=' + this.id + '&a=state_0') %>
    </li>
    <li>
      сопутствующие заболевания:<br> <%= this.DeferRender('prescript/GetState?id=' + this.id + '&a=state_1') %>
    </li>
  </ul>
</div>
<div>
  <ul style="list-style-type: none;">
    <li>
      Обоснование диагноза:<br> <%= this.DeferRender('prescript/GetState?id=' + this.id + '&a=state_2 ') %>
    </li>
    <li>
      Морфологическая верификация:<br> <%= this.DeferRender('prescript/GetState?id=' + this.id + '&a=state_3') %>
    </li>
    <li>
      Показания к операции:<br> <%= this.DeferRender('prescript/GetState?id=' + this.id + '&a=state_4') %>
    </li>
    <li>
      План операции:<br> <%= this.DeferRender('prescript/GetState?id=' + this.id + '&a=state_5') %>
    </li>
    <li>
<%
function TransfusionStatus(cb)
{
  phoxy.ApiRequest('prescript/GetState', [__context.id, 'transfusiton_req'], function(data)
  {
    if (data.value)
      return cb({ret:"требуется"});
    return cb({ret:"не требуется"});
  });
}
%>
      Необходимость переливания крови: <%= this.DeferRender('utils/show_simple_param', TransfusionStatus) %>
    </li>
    <li>
      Комментарии<br> <%= this.DeferRender('prescript/GetState?id=' + this.id + '&a=state_7') %>
    </li>
  </ul>
</div>
<div>
  Руководитель отделения: _____________
</div>
<div>
  Лечащий врач: <%= this.DeferRender('people/namebyid', 'prescript/GetState?id='+this.id+'&state=levrach') %>
</div>