Prescripts list
<table class='prescript-list table'>
  <tr>
    <th></th>
    <th>№</th>
    <th>Тип операции</th>
    <th>Лечащий врач</th>
    <th>Пациент</th>
  </tr>
<%
for (k in this.list)
{
  v = this.list[k];
%>
  <tr data-mark='row'>
    <td>
      <%= this.DeferRender('prescript/status_box', v) %>
    </td>
    <td data-mark='id'><%= v.id %></td>
    <td data-mark='description'>
      <%= v.description %>
    </td>
    <td data-mark='doctor'>
      <%= this.DeferRender('people/name', 'user/Name/?uid=' + v.doctor) %>
    </td>
    <td data-mark='patient'>
      <a href='#patient/info?id=<%= v.patient %>' class='hipster'>
        <%= this.DeferRender('people/name', 'patient/Name?uid=' + v.patient) %>
      </a>
    </td>
  </tr>
<%

}
%>
</table>

<%
this.Defer(function()
{
  this
    .first()
    .find('div[data-mark="row"]')
    .children()
    .css({'display' : 'inline-block'});
})
%>
